/**
 * Tooltip Component Style for uxcore
 * @author
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@__tooltipPrefixCls: kuma-tooltip;

.@{__tooltipPrefixCls} {
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 1070;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;

    &-hidden {
        display: none;
    }

  &-placement {
    &-left,
    &-leftTop,
    &-leftBottom {
      margin-left: -3px;
      padding: 0 5px;

      & .@{__tooltipPrefixCls}-arrow {
        top: 50%;
        right: 1px;
        margin-top: -5px;
        width: 10px;
        height: 10px;
        border: 1px solid @normal-alpha-6;
        background-color: #fff;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        box-shadow: @box-shadow-1;
      }
    }

    &-leftTop .@{__tooltipPrefixCls}-arrow {
        top: 30%;
    }
    &-leftBottom .@{__tooltipPrefixCls}-arrow {
        top: 70%;
    }

    &-top,
    &-topLeft,
    &-topRight {
      margin-top: -3px;
      padding: 5px 0;

      & .@{__tooltipPrefixCls}-arrow {
        bottom: 1px;
        left: 50%;
        margin-left: -5px;
        width: 10px;
        height: 10px;
        border: 1px solid @normal-alpha-6;
        background-color: #fff;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        box-shadow: @box-shadow-1;
      }
    }

    &-topLeft .@{__tooltipPrefixCls}-arrow {
        left: 20%;
    }
    &-topRight .@{__tooltipPrefixCls}-arrow {
        left: 80%;
    }

    &-bottom,
    &-bottomLeft,
    &-bottomRight {
      margin-top: 3px;
      padding: 5px 0;

      & .@{__tooltipPrefixCls}-arrow {
        top: 1px;
        left: 50%;
        margin-left: -5px;
        width: 10px;
        height: 10px;
        border: 1px solid @normal-alpha-6;
        background-color: #fff;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        box-shadow: @box-shadow-1;
      }
    }

    &-bottomLeft .@{__tooltipPrefixCls}-arrow {
        left: 20%;
    }
    &-bottomRight .@{__tooltipPrefixCls}-arrow {
        left: 80%;
    }

    &-right,
    &-rightTop,
    &-rightBottom {
      margin-left: 3px;
      padding: 0 5px;

      & .@{__tooltipPrefixCls}-arrow {
        top: 50%;
        left: 1px;
        margin-top: -5px;
        width: 10px;
        height: 10px;
        border: 1px solid @normal-alpha-6;
        background-color: #fff;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        box-shadow: @box-shadow-1;
      }
    }

    &-rightTop .@{__tooltipPrefixCls}-arrow {
        top: 30%;
    }
    &-rightBottom .@{__tooltipPrefixCls}-arrow {
        top: 70%;
    }
  }



    &-arrow {
      position: absolute;
    }
  
    &-content {
        box-shadow: @box-shadow-1;
        border-radius: @global-border-radius;
        border: 1px solid @normal-alpha-6;
    }

    &-inner {
        position: relative;
        z-index: 2;
        padding: 8px 12px;
        color: @text-secondary-color;
        text-align: center;
        color: @normal-alpha-2;
        text-decoration: none;
        border-radius: @global-border-radius;
        background-color: #fff;
    }
}


@keyframes tipSlideInLeft {
  0% {
    transform: translate(10px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes tipSlideOutLeft {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(10px, 0);
    opacity: 0;
  }
}

.@{__tooltipPrefixCls}-placement-right,
.@{__tooltipPrefixCls}-placement-rightTop,
.@{__tooltipPrefixCls}-placement-rightBottom {
  &.tip-slide-enter,
  &.tip-slide-appear {
    opacity: 0;
    transform: translate(10px, 0);
    animation-timing-function: @transition-duration;
    animation-duration: .15s; 
  }
  &.tip-slide-enter-active,
  &.tip-slide-appear-active {
    animation-name: tipSlideInLeft;
  }
  &.tip-slide-leave {
    opacity: 1;
    transform: translate(0, 0);
    animation-timing-function: @transition-duration;
    animation-duration: .15s; 
  }
  &.tip-slide-leave-active {
    animation-name: tipSlideOutLeft;
  }
}

@keyframes tipSlideInRight {
  0% {
    transform: translate(-10px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes tipSlideOutRight {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-10px, 0);
    opacity: 0;
  }
}

.@{__tooltipPrefixCls}-placement-left,
.@{__tooltipPrefixCls}-placement-leftTop,
.@{__tooltipPrefixCls}-placement-leftBottom {
  &.tip-slide-enter,
  &.tip-slide-appear {
    opacity: 0;
    transform: translate(-10px, 0);
    animation-timing-function: @transition-duration;
    animation-duration: .15s; 
  }
  &.tip-slide-enter-active,
  &.tip-slide-appear-active {
    animation-name: tipSlideInRight;
  }
  &.tip-slide-leave {
    opacity: 1;
    transform: translate(0, 0);
    animation-timing-function: @transition-duration;
    animation-duration: .15s; 
  }
  &.tip-slide-leave-active {
    animation-name: tipSlideOutRight;
  }
}

@keyframes tipSlideInBottom {
  0% {
    transform: translate(0, -10px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes tipSlideOutBottom {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}

.@{__tooltipPrefixCls}-placement-top,
.@{__tooltipPrefixCls}-placement-topLeft,
.@{__tooltipPrefixCls}-placement-topRight {
  &.tip-slide-enter,
  &.tip-slide-appear {
    opacity: 0;
    transform: translate(0, -10px);
    animation-timing-function: @transition-duration;
    animation-duration: .15s; 
  }
  &.tip-slide-enter-active,
  &.tip-slide-appear-active {
    animation-name: tipSlideInBottom;
  }
  &.tip-slide-leave {
    opacity: 1;
    transform: translate(0, 0);
    animation-timing-function: @transition-duration;
    animation-duration: .15s; 
  }
  &.tip-slide-leave-active {
    animation-name: tipSlideOutBottom;
  }
}

@keyframes tipSlideInTop {
  0% {
    transform: translate(0, 10px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes tipSlideOutTop {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px);
    opacity: 0;
  }
}

.@{__tooltipPrefixCls}-placement-bottom,
.@{__tooltipPrefixCls}-placement-bottomLeft,
.@{__tooltipPrefixCls}-placement-bottomRight {
  &.tip-slide-enter,
  &.tip-slide-appear {
    opacity: 0;
    transform: translate(0, 10px);
    animation-timing-function: @transition-duration;
    animation-duration: .15s; 
  }
  &.tip-slide-enter-active,
  &.tip-slide-appear-active {
    animation-name: tipSlideInTop;
  }
  &.tip-slide-leave {
    opacity: 1;
    transform: translate(0, 0);
    animation-timing-function: @transition-duration;
    animation-duration: .15s; 
  }
  &.tip-slide-leave-active {
    animation-name: tipSlideOutTop;
  }
}
