/**
 * Tooltip Component Style for uxcore
 * @author
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@__tooltipPrefixCls: kuma-tooltip;

.@{__tooltipPrefixCls} {
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 1070;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;

    &-hidden {
        display: none;
    }

  &-placement {
    &-left,
    &-leftTop,
    &-leftBottom {
      margin-left: -3px;
      padding: 0 5px;

      & .@{__tooltipPrefixCls}-arrow {
        top: 50%;
        right: 0;
        margin-top: -5px;
        border-width: 5px 0 5px 5px;
        border-left-color: @basic-600;
        &:before {
            margin-top: -5px;
            border-width: 5px 0 5px 5px;
            left: -6px;
            top: 0;
            border-left-color: #fff;
        }
      }
    }

    &-leftTop .@{__tooltipPrefixCls}-arrow {
        top: 15%;
    }
    &-leftBottom .@{__tooltipPrefixCls}-arrow {
        top: 85%;
    }

    &-top,
    &-topLeft,
    &-topRight {
      margin-top: -3px;
      padding: 5px 0;

      & .@{__tooltipPrefixCls}-arrow {
        bottom: 0;
        left: 50%;
        margin-left: -5px;
        border-width: 5px 5px 0;
        border-top-color: @basic-600;
        &:before {
            margin-left: -5px;
            border-width: 5px 5px 0;
            left: 0;
            top: -6px;
            border-top-color: #fff;
        }
      }
    }

    &-topLeft .@{__tooltipPrefixCls}-arrow {
        left: 15%;
    }
    &-topRight .@{__tooltipPrefixCls}-arrow {
        left: 85%;
    }

    &-bottom,
    &-bottomLeft,
    &-bottomRight {
      margin-top: 3px;
      padding: 5px 0;

      & .@{__tooltipPrefixCls}-arrow {
        top: 0;
        left: 50%;
        margin-left: -5px;
        border-width: 0 5px 5px;
        border-bottom-color: @basic-600;
        &:before {
            margin-left: -5px;
            border-width: 0 5px 5px;
            left: 0;
            top: 1px;
            border-bottom-color: #fff;
        }
      }
    }

    &-bottomLeft .@{__tooltipPrefixCls}-arrow {
        left: 15%;
    }
    &-bottomRight .@{__tooltipPrefixCls}-arrow {
        left: 85%;
    }

    &-right,
    &-rightTop,
    &-rightBottom {
      margin-left: 3px;
      padding: 0 5px;

      & .@{__tooltipPrefixCls}-arrow {
        top: 50%;
        left: 0;
        margin-top: -5px;
        border-width: 5px 5px 5px 0;
        border-right-color: @basic-600;
        &:before {
            margin-top: -4px;
            border-width: 5px 5px 5px 0;
            left: 1px;
            top: -1px;
            border-right-color: #fff;
        }
      }
    }
    &-rightTop .@{__tooltipPrefixCls}-arrow {
        top: 15%;
    }
    &-rightBottom .@{__tooltipPrefixCls}-arrow {
        top: 85%;
    }
  }



  &-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    &:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }
  }
  
    &-content {
        box-shadow: 0 0 5px -1px rgba(0, 0, 0, .2);
        border-radius: 2px;
        border: 1px solid @basic-500;
    }

    &-inner {
        padding: 7px 12px;
        color: @text-secondary-color;
        text-align: center;
        text-decoration: none;
        background-color: #fff;
    }
}
